{% extends '@Design/Default/formbase.html.twig' %}

{% block form -%}
    <h2>Edit Contest Style</h2>

    {{ form(edit_form) }}


    <a href="{{ path('admin_ContestStyle') }}" class="btn-sm btn-primary">
        Back to the list
    </a>
    {{ form(delete_form) }}
{% endblock %}
