{% extends '@Design/Default/formbase.html.twig' %}

{% block form -%}
    <h2>New Schedule Group</h2>
    <a href="{{ path('schedulegroup') }}" class="btn-sm btn-primary">Back</a>
    {{ form(form) }}
{% endblock %}
